
@import "tailwindcss";

@theme {
      --color-button-red: rgb(229, 9, 20);
      --color-white: rgb(255, 255, 255);
      --color-gray: rgba(128, 128, 128, 0.4);
      --footer-black: black;
      --bg-blue-shade: #1b1b36;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}